.aboutus-container img:nth-child(1) {
    display: block;
    
   margin-top:10px;
   margin-left: 410px;
height: 150;
   padding: 5px;
   width: 50%;
 }

.aboutus-container img:nth-child(2){
   display: block;
   
  margin-top:70px;
  margin-left: 350px;
height: 750px;
  padding: 5px;
  width: 60%;
}
